<!DOCTYPE html>
<html>
<title>Wrong address</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" />
<div class="container">
    <nav class="navbar">
      <a href="{% url 'home' %}" class="nav-link">Home</a>
      <a href="{% url 'about' %}" class="nav-link">About</a>
      <a href="{% url 'contact' %}" class="nav-link">Contact</a>
      <a href="{% url 'all_members' %}" class="nav-link">All Members</a>
    </nav>
  </div>
<body>

<h1>Wooooooooowwww!!!!!!!!!!!</h1>

<h2>Names Already submited </h2>
<footer style="margin-top:30%">
    <div class="container">
      <p>&copy; 
       All Rights Reserved.</p>
      <p>2024</p>
    </div>
  </footer>
</body>
</html>
