<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="{% url 'index' %}" class="nav-link">Home</a>
        <a href="{% url 'about' %}" class="nav-link">About </a>
        <a href="{% url 'contact' %}" class="nav-link">Contact</a>
        <a href="{% url 'all_members' %}" class="nav-link">All Members</a>
      </nav>
    </div>
    <header>
      <h1>Meet the Team</h1>
    </header>

    <section class="services">
      <div class="card">
        <h3>ANTOINE MANIRAFASHA</h3>
        <p>
            <img src="{% static 'image/MASHA.jpg' %}" alt="Programming Image"width="60%"height="80%" />
        </p>
        <p>
            Money making advisor</p>
      </div>
      <div class="card">
        <div class="icon"></div>
        <h3>MUTABAZI PHILEMON</h3>
        <p>
            <img src="{% static 'image/MUTABAZI.jpg' %}" alt="Programming Image" width="60%"height="230PX" />
        </p>
        <p>
            Money making Secretary</p>
    </div>
      <div class="card">
        <div class="icon"></div>
        <h3>MANZI STIVEN</h3>
        <p>
            <img src="{% static 'image/MANZI.jpg' %}" alt="Programming Image"width="60%"height="230PX" />
            
        </p>
        <p>
            Money making chief editor</p>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>&copy; 
         All Rights Reserved.</p>
        <p>2024</p>
      </div>
    </footer>
  </body>
</html>
